


// Iran Sans Web
@font-face {
    font-family: "IranSansWeb";
    src: url("../Fonts/IranSansWeb/IRANSansWeb.eot") format("eot"),
        // url("../Fonts/IranSans/IRANSansWeb.ttf") format("ttf"),
        // url("../Fonts/IranSans/IRANSansWeb.woff") format("woff");
  }


// Iran Sans Bold
@font-face {
    font-family: "IranSansBold";
    src: url("../Fonts/IranSansWeb/IRANSansWeb_Bold.eot") format("eot"),
        url("../Fonts/IranSansWeb/IRANSansWeb_Bold.ttf") format("ttf"),
        url("../Fonts/IranSansWeb/IRANSansWeb_Bold.woff") format("woff");
  }

// Laleh Zar
@font-face {
    font-family: "LalehZar";
    src: url("../Fonts/LalehZar/Lalezar.ttf") format("ttf");
  }
